<%# views/genre_form %>

<% extend('layout', {'title': title}) %>

<h1><%= title %></h1>
<form method="POST" action="">
    <div class="form-group">
        <label for="name">Genre: </label>
        <input id="name" class="form-control" type="text" placeholder="Fantasy, Poetry etc." name="name" value="<%= typeof genre !== 'undefined' ? genre.name : '' %>" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if(typeof errors !== "undefined" && errors.length > 0){ %>
    <ul>
        <% errors.forEach(function(error){ %>
            <li>
                <%= error.msg %>
            </li>
        <% }); %>
    </ul>
<% } %>